In [ ]:
  print(1+2)

3

In [ ]:
age = 18 # 年齢

if age <20:
    # 未成年場合
    print("ジュースで乾杯")
else:
    # 成年の場合
    print("お酒で乾杯")

ジュースで乾杯

In [ ]:
age = 18 # 年齢

if age < 20:
    ...
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    ...
    # 成年の場合
    print("お酒で乾杯！")

ジュースで乾杯！

In [ ]:
age = 18 # 年齢

if age < 20:
    '''
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    '''
    # 成年の場合
    print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
print(100)

100

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 /0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
#整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name ="花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [23]:
top = "10"
    #上辺
bottom = "20"
    #下辺
height = "5"
    #高さ

    #公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
area = ( top + bottom ) * height / 2

print(f"台形の面積は {area} cm²")

TypeError: can't multiply sequence by non-int of type 'str'

In [28]:
top = 10
    #上辺
bottom = 20
    #下辺
height = 5
    #高さ

    #公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
area = (top + bottom) * height / 2

print(f"台形の面積は {area} cm²")

台形の面積は 75.0 cm²