In [ ]:
  print(1+2)

3

In [ ]:
age = 18 # 年齢

if age <20:
    # 未成年場合
    print("ジュースで乾杯")
else:
    # 成年の場合
    print("お酒で乾杯")

ジュースで乾杯

In [ ]:
num=50

#変数numが10より大きいなら、文字列を表示する
if 10 < num :
    print("変数numは10より大きいです")

#変数numが20より小さいなら、文字列を表示する
if num < 20 :
    print("変数numは20より小さいです")

変数numは10より大きいです

In [ ]:
age = 18 # 年齢

if age < 20:
    ...
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    ...
    # 成年の場合
    print("お酒で乾杯！")

ジュースで乾杯！

In [ ]:
age = 18 # 年齢

if age < 20:
    '''
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    '''
    # 成年の場合
    print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
print(100)

100

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 /0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
#整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name ="花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
top = "10"
    #上辺
bottom = "20"
    #下辺
height = "5"
    #高さ

    #公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
area = ( top + bottom ) * height / 2

print(f"台形の面積は {area} cm²")

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
top = 10
    #上辺
bottom = 20
    #下辺
height = 5
    #高さ

    #公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
area = (top + bottom) * height / 2

print(f"台形の面積は {area} cm²")

In [ ]:
user_name = ["侍太郎" , "侍一郎" , "侍二郎" , "侍三郎" , "侍四郎"]
print(user_name[1]) #2番目の要素だけを表示

user_name [1] = "侍花子" #2番目の要素を更新
print(user_name)

user_name.append("侍五郎") #6番目の要素の追加
print(user_name)

user_name.pop(2) #3番目の要素を削除
print(user_name)

In [ ]:
country_names = ("日本" , "アメリカ" , "イギリス" , "フランス")

#3番目の要素を抜き出す
print(country_names[2])

#すべての要素を抜き出す
print(country_names)

In [ ]:
# 1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = {2 , 5, 2, 7, 3, 5, 5 }

# セット全体を表示
print(prime_numbers)

In [ ]:
country_names = {"アメリカ" , "イギリス" , "日本" , "フランス"}

#セット全体を表示
print(country_names)

country_names.add("ドイツ") #ドイツをセットに追加
print(country_names)

country_names.remove("イギリス") #イギリスを削除
print(country_names)

In [ ]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) #比較演算子を使った場合の戻り値を出力する

In [ ]:
num1 = 5
num2 = "5"

if num1 == int(num2):
    print("num1とnum2は等しいです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
    print("大当たりです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0 ,4)

# 変数numの値を出力
print(num)

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
elif num == 3:
    print("当たりです")
else:
    print("はずれです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("ando条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）

if num == 1  or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

In [ ]:
var = 15

#3の倍数と5の倍数の両方に該当する場合は「FizzBuzz」を出力
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")

#3の倍数の場合は「Fizz」を出力
elif var % 3 == 0:
    print("Fizz")

#5の倍数の場合は「Buzz」を出力
elif var % 5 == 0:
    print("Buzz")

#どの場合にも該当しない場合は、変数varの値を出力
else:
    print(var)

FizzBuzz

In [ ]:
#3の倍数と5の倍数の両方に該当する場合は「FizzBuzz」を出力
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

In [ ]:
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

NameError: name 'var' is not defined

In [3]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

#ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

120

In [6]:
sports = {1: "サッカー",2: "野球",3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports [2] = "バトミントン"

# キー「4」として「水泳」を追加する
sports [4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

{1: 'サッカー', 2: 'バトミントン', 3: 'バスケット', 4: '水泳'}

In [7]:
stationery_prices = {"鉛筆": 70,"ボールペン": 120,"シャープペンシル": 150,"消しゴム": 90}

# 「シャープペンシル」を要素ごと削除
stationery_prices.pop("シャープペンシル")

# 連想配列全体を取り出して表示
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [11]:
# 連想配列を作成
personal_data = {"name": "侍太郎","age": 36,"gender": "男性"}

# キー「name」の値を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [16]:
array = ["月曜日は晴れです", "火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]

#水曜日の天気予報を取り出す
print(array[2])

dictionary ={"mon": "晴れ","tue": "雨","wed": "晴れ","thu": "晴れ","fri": "曇り","sat": "曇りのち雨","sun":"雷雨"}

#水曜日の天気予報を取り出す
print(dictionary["wed"])

水曜日は晴れです
晴れ