In [1]:
  print(1+2)

3

In [2]:
age = 18 # 年齢

if age <20:
    # 未成年場合
    print("ジュースで乾杯")
else:
    # 成年の場合
    print("お酒で乾杯")

ジュースで乾杯

In [3]:
num=50

#変数numが10より大きいなら、文字列を表示する
if 10 < num :
    print("変数numは10より大きいです")

#変数numが20より小さいなら、文字列を表示する
if num < 20 :
    print("変数numは20より小さいです")

変数numは10より大きいです

In [4]:
age = 18 # 年齢

if age < 20:
    ...
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    ...
    # 成年の場合
    print("お酒で乾杯！")

ジュースで乾杯！

In [5]:
age = 18 # 年齢

if age < 20:
    '''
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    '''
    # 成年の場合
    print("お酒で乾杯！")

お酒で乾杯！

In [6]:
print(100)

100

In [7]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [8]:
print(type(30 / 3))

<class 'float'>

In [9]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 /0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [10]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [11]:
print("降水確率" + str(50) + "%")

降水確率50%

In [12]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ

In [13]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [14]:
#整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [15]:
last_name = "侍"
first_name = "太郎"
sister_name ="花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
top = 10
    #上辺
bottom = 20
    #下辺
height = 5
    #高さ

    #公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
area = (top + bottom) * height / 2

print(f"台形の面積は {area} cm²")

In [ ]:
user_name = ["侍太郎" , "侍一郎" , "侍二郎" , "侍三郎" , "侍四郎"]
print(user_name[1]) #2番目の要素だけを表示

user_name [1] = "侍花子" #2番目の要素を更新
print(user_name)

user_name.append("侍五郎") #6番目の要素の追加
print(user_name)

user_name.pop(2) #3番目の要素を削除
print(user_name)

In [ ]:
country_names = ("日本" , "アメリカ" , "イギリス" , "フランス")

#3番目の要素を抜き出す
print(country_names[2])

#すべての要素を抜き出す
print(country_names)

In [ ]:
# 1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = {2 , 5, 2, 7, 3, 5, 5 }

# セット全体を表示
print(prime_numbers)

In [ ]:
country_names = {"アメリカ" , "イギリス" , "日本" , "フランス"}

#セット全体を表示
print(country_names)

country_names.add("ドイツ") #ドイツをセットに追加
print(country_names)

country_names.remove("イギリス") #イギリスを削除
print(country_names)

In [ ]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) #比較演算子を使った場合の戻り値を出力する

In [ ]:
num1 = 5
num2 = "5"

if num1 == int(num2):
    print("num1とnum2は等しいです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
    print("大当たりです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0 ,4)

# 変数numの値を出力
print(num)

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
elif num == 3:
    print("当たりです")
else:
    print("はずれです")

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("ando条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）

if num == 1  or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

In [ ]:
var = 15

#3の倍数と5の倍数の両方に該当する場合は「FizzBuzz」を出力
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")

#3の倍数の場合は「Fizz」を出力
elif var % 3 == 0:
    print("Fizz")

#5の倍数の場合は「Buzz」を出力
elif var % 5 == 0:
    print("Buzz")

#どの場合にも該当しない場合は、変数varの値を出力
else:
    print(var)

In [ ]:
#3の倍数と5の倍数の両方に該当する場合は「FizzBuzz」を出力
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

In [ ]:
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

#ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

In [ ]:
sports = {1: "サッカー",2: "野球",3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports [2] = "バトミントン"

# キー「4」として「水泳」を追加する
sports [4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

In [ ]:
stationery_prices = {"鉛筆": 70,"ボールペン": 120,"シャープペンシル": 150,"消しゴム": 90}

# 「シャープペンシル」を要素ごと削除
stationery_prices.pop("シャープペンシル")

# 連想配列全体を取り出して表示
print(stationery_prices)

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎","age": 36,"gender": "男性"}

# キー「name」の値を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

In [ ]:
array = ["月曜日は晴れです", "火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]

#水曜日の天気予報を取り出す
print(array[2])

dictionary ={"mon": "晴れ","tue": "雨","wed": "晴れ","thu": "晴れ","fri": "曇り","sat": "曇りのち雨","sun":"雷雨"}

#水曜日の天気予報を取り出す
print(dictionary["wed"])

In [ ]:
for i in range(1,11):
    print(i)

In [17]:
#ランダムな整数を利用するため、記述が必要です。
import random

for i in range(1, 11):
    #変数numに1~20までのランダムな整数を代入する
    num = random.randint(1,20)

    print(f"{i}回目の結果は{num}です。")

    #変数numの値が20であれば、break文で繰り返し処理を強制終了する
    if num == 20:
      print("20がでたので繰り返し処理を強制終了します")
      break

1回目の結果は5です。
2回目の結果は3です。
3回目の結果は9です。
4回目の結果は10です。
5回目の結果は19です。
6回目の結果は2です。
7回目の結果は6です。
8回目の結果は2です。
9回目の結果は18です。
10回目の結果は15です。

In [18]:
for i in range(1,11):
    #ループ変数の値が奇数（2で割った余りが１）であれば、値を出力せずにcontinue文で次のループに進む
    if i % 2 == 1:
        continue

    print(i)

2
4
6
8
10

In [19]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0,4)

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
    num = random.randint(0, 4)
    print(num)

1
0

In [20]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num !=0:
     # 変数numに0~4までのランダムな整数を代入する
     num = random.randint(0,4)

    # 次の条件式で比較される、変数numの現在の値を出力する
     print(f"現在の値は{num}です。")

最初の値は1です。
現在の値は3です。
現在の値は0です。

In [21]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# カウンタ変数を用意する
i = 1

# 変数numの最初の値を出力する（確認用）
print(f"最後の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num !=0:
    # 変数numに0~4までのランダムな整数を代入する
    num = random.randint(0, 4)

    # カウンタ変数iの値が5であれば、break文で繰り返し処理を強制終了する
    if i == 5:
      print("5回目なので繰り返し処理を強制終了します。")
      break
    # 次の条件式で比較される、変数numの現在の値を出力する
    print(f"現在の値は{num}です。")
    #　カウンタ変数のの値を1増やす
    i = i + 1

最後の値は4です。
現在の値は4です。
現在の値は1です。
現在の値は2です。
現在の値は1です。
5回目なので繰り返し処理を強制終了します。

In [22]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 合計用の変数を用意する
sum = 0

# 変数sumの値が20以上になるまで繰り返し処理を行う
while sum < 20:
     # 変数numに1~10までのランダムな整数を代入する
     num = random.randint(1,10)

     print(f"{num}がでました。")

     # 変数numの値が偶数（2で割った余りが0）であれば、加算せずにcontinue文で次のループに進む
     if num % 2 == 0:
         print("偶数なので加算しません。")
         continue

     # 変数sumに変数numの値を加算する
     sum = sum + num
     print(f"現在の合計は{sum}です。")

4がでました。
偶数なので加算しません。
6がでました。
偶数なので加算しません。
10がでました。
偶数なので加算しません。
6がでました。
偶数なので加算しません。
6がでました。
偶数なので加算しません。
1がでました。
現在の合計は1です。
5がでました。
現在の合計は6です。
7がでました。
現在の合計は13です。
9がでました。
現在の合計は22です。

In [23]:
user_names = ["侍太郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesの要素を1つずつ順番に出力する
for user_name in user_names:
    print(user_name)

侍太郎
侍二郎
侍三郎
侍四郎

In [24]:
personal_data = {"name":"侍太郎", "age":36, "gender":"男性"}

for key, value in personal_data.items():
    print(f"{key}は{value}です。")

# 連想配列personal_dataの値を1つずつ順番に出力する
for value in personal_data.values():
    print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [25]:
user_names = ["侍太郎", "侍二郎", "侍三郎", "侍四郎"]

#配列user_nameのイデックスと値を１つずつ順番に出力する
for index, value in enumerate(user_names):
  print(f"{index} : {value}")

0 : 侍太郎
1 : 侍二郎
2 : 侍三郎
3 : 侍四郎

In [26]:
user_names = ["侍太郎", "侍二郎", "侍三郎","侍四郎"]

# 検索したいユーザー名を代入する変数
target = "侍二郎"

for user_names in user_names:
    print(user_names)

    # 変数user_nameと変数targetの値が一致すれば、break文で繰り返し処理を強制終了する
    if(user_names == target):
      print(f"{target}さんがみつかったので、繰り返し処理を強制終了します。")
      break

侍太郎
侍二郎
侍二郎さんがみつかったので、繰り返し処理を強制終了します。

In [27]:
score = {
    "国語" : 80,
    "数学" : 55,
    "理科" : 70,
    "社会" : 85,
    "英語" : 60,
}

print("合格した科目は以下の通りです。")

for key ,value in score.items():
    # 変数valueの値（点数）が70より小さければ、キー（科目名）と値（点数）を出力せずにcontinue文で次のループに進む
    if (value < 70):
      continue
    print(f"{key} : {value}点")

合格した科目は以下の通りです。
国語 : 80点
理科 : 70点
社会 : 85点

In [28]:
array = ["水","金","地","火","木","土","天","海","冥"]

# forループで出力
for array in array:
    print(array)

array = ["水","金","地","火","木","土","天","海","冥"]
# whileループで出力
# カウンタ変数を用意する
i = 0
while i < 9:
    print(array[i])
    # カウンタ変数のの値を1増やす
    i = i + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [29]:
array = ["水","金","地","火","木","土","天","海","冥"]

# forループで出力
for array in array:
    print(array)

# whileループで出力
i = 0
while i < 9:
    print(array[i])
    #カウンタ変数を１増やす
    i = i + 1

水
金
地
火
木
土
天
海
冥
冥

IndexError: string index out of range

In [ ]:
array = ["水","金","地","火","木","土","天","海","冥"]

# forループで出力
for array in array:
    print(array)

array = ["水","金","地","火","木","土","天","海","冥"]

# whileループで出力
# カウンタ変数を用意する
i = 0
while i < 9:
    print(array[i])
    # カウンタ変数のの値を1増やす
    i = i + 1

In [ ]:
# 朝のあいさつを出力する関数を作成する
def say_good_morning():
  print("おはようございます")
  print("昨日はよく眠れましたか？")
  print("今日も１日頑張りましょう")

# 夜のあいさつを出力する関数を作成する
def say_good_evening():
  print("こんばんは")
  print("今日も一日お疲れさまでした")

 # 朝のあいさつを出力する関数を呼び出す
say_good_morning()

 # 夜のあいさつを出力する関数を呼び出す
say_good_evening()

In [ ]:
# 与えられた引数$priceに送料を加算し、その値を出力する関数を定義する
def caluculate_total(price):
  # 与えられた引数$priceに送料を加算し、その値を出力する関数を定義する
  total = price + 500

   # 変数totalの値を出力する
  print(f"{total}円")

# 関数を呼び出し、引数として購入金額を渡す
caluculate_total(2500)

In [ ]:
def add_two_arguments(price, shipping_fee):
    # 与えられた引数priceと引数とshipping_feeを加算し、変数totalに代入する
    total = price + shipping_fee

    # 変数$totalの値を出力する
    print(f"{total}円")

# 関数を呼び出し、引数として購入金額と送料を渡す
add_two_arguments(2000, 500)

In [ ]:
# 購入済みかどうかを判定する変数
purchased = True

# 戻り値を返す関数を定義する
def is_purchased():
    if (purchased):
      return True
    else:
      return False

# 戻り値を返す関数を条件式に使う（Trueであれば処理が実行される）
if (is_purchased()):
    print("商品は購入済みです")

In [ ]:
def doubke(num):
  return num * 2

In [ ]:
#消費税を加えた計算結果を返す
def add_tax(price: int,tax_rate: int) -> float:
  return price *(1 + tax_rate / 100)

# 商品金額110円　消費税10%
result = add_tax(110, 10)
print(result)

In [ ]:
def show_user_name():
  # ローカル変数を定義する
  user_name = "侍太郎"

  # ローカルスコープ内でローカル変数を使う
  print(user_name)

show_user_name()

In [ ]:
def show_user_name():
  # ローカル変数を定義する
  user_name = "侍太郎"

  # ローカルスコープ内でローカル変数を使う
  print(user_name)

# ローカルスコープの範囲外でローカル変数を使う（エラー発生する）
print(user_name)

In [ ]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
  # ローカル変数を定義する
  # user_name = "侍太郎"

  # グローバルスコープ範囲外でグローバル変数を使う（エラーが発生しない）
  print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

In [ ]:
# グローバルスコープ
price1 = 100
price2 = 200
tax = 1.1

def total():
     # ローカルスコープ
    return price1 + price2

print (total() * tax)

In [ ]:
#クラスを定義する
class Product:
  クラスの特徴

#インスタンス化する
shampoo = Product()

In [ ]:
class Product:
  def __init__(self):
    # 属性を定義する
    self.name = ""

shampoo = Product()

# 属性にアクセスし、値を代入する
shampoo.name = "シャンプー"

# 属性にアクセスし、値を代入する
print(shampoo.name)

In [ ]:
class Product:
  def __init__(self):
    self.name = ""

    # メソッドを定義する
    def set_name(self, name):
      self.name = name

    def show_name(self):
      print(self.name)

# インスタンス化する
coffe = Product()

# メソッドにアクセスして実行する
coffe.set_name("コーヒー")

In [ ]:
class Human:
  def __init__(self, name ,age):
    self.name = name
    self.age = age

  # printinfo メソッド
  def printinfo(self):
    print( self.name , self.age)

# Humanクラスのインスタンス化
human = Human("大井綾子", 53)

# メソッドを実行
human.printinfo()

In [1]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Sun Jan  4 01:13:14 PM JST 2026

In [2]:
# timeモジュールをインポート
import time

# 現在の日時を指定したフォーマットで出力する
print(time.time())

1767500117.0893655

In [4]:
# datetimeモジュールをインポート
import datetime

#指定した日時を取得する
date_time = datetime.datetime.strptime("2025-03-19 12:15:30","%Y-%m-%d %H:%M:%S")

# 取得した日付date_timeの日時を特定のフォーマットで出力する
print(date_time.strftime("%Y年%m月%d日%H時%M分%S秒"))

2025年03月19日12時15分30秒

In [5]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

print(date_time)

# 年,月,日,時,分,秒だけをそれぞれ取り出すことも可能です
print(date_time.year)
print(date_time.month)
print(date_time.day)
print(date_time.hour)
print(date_time.minute)
print(date_time.second)

2015-03-19 12:15:30
2015
3
19
12
15
30

In [8]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2025-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval＝間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は291日です。

In [13]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=365)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub＝「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2027年01月04日14時39分32秒です。
現在から3日前は2026年01月01日14時39分32秒です。

In [35]:
class Human:
  def __init__(self, name ,age):
    self.name = name
    self.age = age

  # check_adult メソッド
  def check_adult(self):
    if self.age >= 20:
     print("大人です")

    else:
     print("大人ではありません")

# Humanクラスのインスタンスを複数生成
human_list = [
  Human("樫山花子", 53),
  Human("樫山太郎", 20),
  Human("樫山二郎", 22),
  Human("樫山三郎", 32),
  Human("樫山四郎", 19),
  ]
# リストの要素数分だけ check_adult メソッドを呼び出す
for human in human_list:
  human.check_adult()

大人です
大人です
大人です
大人です
大人ではありません